<md-tab-group>
  <md-tab label="İndirim Tanımlama">
    <app-navbar></app-navbar>    

  </md-tab>
  <md-tab label="Marka Model tanımlama">
   <md-input-container>
  <input mdInput placeholder="Favorite food" value="Sushi">
</md-input-container>
  </md-tab>
  <md-tab label="İndirim Tanımlama">
    <app-navbar></app-navbar>    

  </md-tab>
  <md-tab label="İndirim Tanımlama">
    <app-navbar></app-navbar>    

  </md-tab>
  <md-tab label="İndirim Tanımlama">
    <app-navbar></app-navbar>    

  </md-tab>
  <md-tab label="İndirim Tanımlama">
    <app-navbar></app-navbar>    

  </md-tab>
  <md-tab label="İndirim Tanımlama">
    <app-navbar></app-navbar>    

  </md-tab>
  <md-tab label="İndirim Tanımlama">
    <app-navbar></app-navbar>    

  </md-tab>
  <md-tab label="İndirim Tanımlama">
    <app-navbar></app-navbar>    

  </md-tab>
  <md-tab label="İndirim Tanımlama">
    <app-navbar></app-navbar>    

  </md-tab>
  <md-tab label="İndirim Tanımlama">
    <app-navbar></app-navbar>    

  </md-tab>
  <md-tab label="İndirim Tanımlama">
    <app-navbar></app-navbar>    

  </md-tab>
  <md-tab label="İndirim Tanımlama">
    <app-navbar></app-navbar>    

  </md-tab>
  <md-tab label="İndirim Tanımlama">
    <app-navbar></app-navbar>    

  </md-tab>
  <md-tab label="İndirim Tanımlama">
    <app-navbar></app-navbar>    

  </md-tab>
</md-tab-group>